* {
    box-sizing: border-box;
    margin: 0;
}

.header--size {
    height: 750px;
    width: 100%;
    position: relative;
}

.header--background {
    background: linear-gradient(90deg,#31404e 80%,rgb(229, 231, 233) 80%)
}

.header-img {
    height: 600px;
    width: 1000px;
    background-position: center;
    background-image: url("../img/header-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header-img--position {
    position: absolute;
    top: 50%;
    left: unset;
    right: 0;
    transform: translate(0%, -50%);
}

.keywords-container {
    height: 400px;
    width: 800px;
    background: #e5e7e9;
    padding: 70px 180px;
}

.keywords-container--position {
    position: absolute;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-95%, -50%);
    z-index: 9;
}

.title {
    height: 75px;
    width: 600px;
    font-family: 'Oswald', sans-serif;
}

.title--appearance {
    font-size: 2.3rem;
    color: #e5e7e9;
    text-align: left;
    letter-spacing: 2px;
    padding-top: 50px;
    padding-left: 40px;
}

.keywords-container__keyword {
    font-family: 'Oswald', sans-serif;
    font-size: 3.3rem;
    color: #31404e;
    font-weight: 500;
}

.keywords-container__catchphrase {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: #31404e;
}
